/*  */

body.pagina {
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section#senha {
    padding: 20px;
}

section#senha h2 {
    margin-bottom: 20px;
}

section#senha form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

section#senha form input[type="text"],
section#senha form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section#senha form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section#senha form input[type="submit"]:hover {
    background-color: #555;
}

footer#contato {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer#contato p {
    margin-bottom: 10px;
}
#aviso-vazamento {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    display: none;
}

#aviso-checkbox:checked + #aviso-vazamento {
    display: block;
}

#aviso-vazamento label {
    cursor: pointer;
}

