/* Estilo para a página de compra */




body {
    background-color: #1C1C1C; /* Cor de fundo */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: #111111; /* Cor de fundo */
    padding: 20px;
    color: #fff; /* Cor do texto */
    text-align: center;
    border-bottom: 3px solid #9B30FF;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #9B30FF; /* Cor do texto */
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fff;
}

section {
    padding: 50px;
    color: #fff; /* Cor do texto */
}

footer {
    background-color: #111111; /* Cor de fundo */
    padding: 20px;
    color: #fff; /* Cor do texto */
    text-align: center;
    border-top: 3px solid #9B30FF;
}
.botao-Comprar {
    background-color: #9B30FF; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

img {
	height: 250px;
	width: 250px;
	border-radius: 25%;
	border: solid 5px blood orange;
	display: flax;
	
}
.esq

